
.cabecalho__menu-hambuguer{
    width: 24px;
    height: 24px;
    background-image: url(/img/Menu.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}
.cabecalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hambuguer{
    background-image: url(/img/menu_black_24dp\ 1.svg);
}
.container__botao:checked ~ .container__rotulo{
    background: var(--azul-degrade);
}
.container{
    display: flex;
    align-items: center;
}
.container__image{
    padding: 1rem;
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
    z-index: 99;    
}
.container__botao:checked ~ .lista-menu{
    display: block;
}
.lista-menu__titulo,
.lista-menu__item{
    padding:  1em;
    background-color: var(--branco);
}
.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}
.lista-menu__link {
    background: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
.container__botao{
    display: none;
}
.container__titulo{
    display: none;
}
.opcoes{
    display: none;
}
.container__texto{
    display: none;
}
@media screen and (min-width:1024px) {
    .container__titulo,
    .container__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }
    .container__titulo{
        display: block;
    }
    .container__titulo--negrito{
        font-weight: 700;
    }
    .opcoes{
        display: flex;
    }
    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        color:var(--preto);
    }
    .container__imagem-transparent{
        display: none;
    }
    .cabecalho__menu-hambuguer{
        display: none;
    }
    .opcoes__botao{
        display: none;
    }
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcoes__item{
        padding: 2em 1em;
    }
    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }
    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}
@media screen and (min-width: 1728px) {
    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .container__text{
        display: block;
    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcoes{
        margin-right: auto;
    }
}